target/
.idea/
*.iml
.DS_Store
.mvn/wrapper/maven-wrapper.jar
*.log

nginx/nginx.conf

.openclawignore

docker-compose.yml

.env
src/main/resources/application-local.yml
src/main/resources/application-prod.yml
src/main/resources/application.yml


echo -e ".env\napplication-local.yml" >> .gitignore

